{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dr. Bhadani's Dental Clinic</title>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id"
          content="267226879829-n4pr2506kdmj0s9prb9mder7c291bf5c.apps.googleusercontent.com">
</head>
<body>
<h1>AI Based Appointment Management System</h1>
<!-- Hi! I am Alice, the AI assistant, of Doctor Bhhaadaa nees Dental Clinic. I am here to help you in
booking your appointment. Please provide the following details-->
<div class="g-signin2" data-onsuccess="onSignIn"></div>
<script>
    function onSignIn(googleUser) {
      var profile = googleUser.getBasicProfile();
      console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
      console.log('Name: ' + profile.getName());
      console.log('Image URL: ' + profile.getImageUrl());
      console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
   }

</script>
<a href="#" onclick="signOut();">Sign out</a>
<script>
  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }

</script>

<table>
    <tr style="align: Top">
        <td style="width: 50%;">
            <form action="/verify/" method="POST">
                {% csrf_token %}
                <table border="0 px">
                    <tr>
                        <td style="width: 30%;">Email*</td>
                        <td style="width: 70%;"><input type="email" id="email" name="email" size="50"></td>
                    </tr>
                    <tr>
                        <td>Full Name*</td>
                        <td><input type="text" id="fullname" name="fullname" size="50" required></td>
                    </tr>
                    <tr>
                        <td>Mobile Number*</td>
                        <td><input type="tel" id="phone" name="phone" pattern="[0-9]{10}" size="50" required></td>
                    </tr>
                    <tr>
                        <td>Gender</td>
                        <td>
                            <select name="gender" style="width: auto">
                                <option value="Prefer not to answer">Perfer not to Answer</option>
                                <option value="female">Female</option>
                                <option value="male">Male</option>
                                <option value="other">Other</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Date*</td>
                        <td><input name="somedate" type="date" min="2024-05-03" size="50" required></td>
                        <script type="text/javascript">
                        var today = new Date().toISOString().split('T')[0];
                        document.getElementsByName("somedate")[0].setAttribute('min', today);

                        </script>
                    </tr>
                    <tr>
                        <td>Time*</td>
                        <td><input type="time" id="appt" name="appt" size="50" required></td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td>
                            <textarea name="address" rows="5" cols="52"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>Chief Complaints*</td>
                        <td>
                            <textarea name="complaints" rows="5" cols="52" required></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <center>
                                <input type="reset">
                            </center>
                        </td>
                        <td>
                            <center>
                                <input type="submit" value="Submit">
                            </center>
                        </td>
                    </tr>
                </table>
                <input type="text" id="file_name" name="file_name" hidden="hidden">
                <script>
                    var date_today = new Date().toISOString();
                    time_stamp = date_today.split('T')[1].replace(/:/g,"-")
                    time_stamp_1 = time_stamp.replace(".","-")
                    var name_of_file = "audio" + date_today.split('T')[0] + time_stamp_1 + ".mp3"
                    document.getElementById("file_name").value = name_of_file.replace(/ /g,"");

                </script>

            </form>
        </td>
        <td style="width: 50%">
            <img id="right-side-image1"
                 src="https://lh3.googleusercontent.com/d/1-L1kzbyRuCxHZ3GiJwleUXlVzk8OMecw?authuser=1/view"
                 alt="Dynamic Image" height="500" width="auto">
            <audio crossorigin="anonymous" id="welcome-audio" preload="auto" autoplay>
                <source src="https://drive.lienuc.com/uc?id={{ id }}" type="audio/mp3">
                Your browser does not support the audio element.
            </audio>

        </td>
    </tr>
</table>
</body>
</html>